#panelQueryBuilder * DIV {
	height: 100%;
	width: 100%;
}

.SearchResultWindow.kwic {
	text-align: center;
  width: 100%;
  overflow: hidden;
}

.SearchResultWindow.visualizers {
  clear: both;
	text-align: left;
}


.SearchResultWindow.annotation {
	color: gray;
}

.SearchResultWindow.token.hit {
	color: red;
}
	
body {
	text-align: left;
	background-color: #FFF;
}
#toolbar {
	margin-bottom: 26px;
}

ul.annis-row-body {
	list-style-type: none;
}

ul.annis-row-body li {
	margin: 0px;
	padding: 0px;
}

div.annis-level-selector-collapsed, div.annis-level-selector-expanded {
	cursor: pointer;
	padding-left: 15px;
	background-repeat: no-repeat;
}

div.annis-level-selector-collapsed {
	background-image: url(../images/icon-expand.gif);
}

div.annis-level-selector-expanded {
	background-image: url(../images/icon-collapse.gif);
}


div.annis-level-body {
	display: none;
}

.annis-toolbar-btn .x-btn-tl, .annis-toolbar-btn .x-btn-tr, .annis-toolbar-btn .x-btn-tc, .annis-toolbar-btn .x-btn-ml, .annis-toolbar-btn .x-btn-mr, .annis-toolbar-btn .x-btn-mc, .annis-toolbar-btn .x-btn-bl, .annis-toolbar-btn .x-btn-br, .annis-toolbar-btn .x-btn-bc {
   /* background-image:url(../images/highlight-btn.gif);*/
}

.annis-toolbar-btn .x-btn-tl {
  background-position: 0 0;
}

.annis-toolbar-btn .x-btn-tc {
  background-position: 0 -6px;
}

.annis-toolbar-btn .x-btn-tr {
  background-position: -3px 0px;
}

.annis-toolbar-btn .x-btn-ml {
  background-position: 0 -24px;
}

.annis-toolbar-btn .x-btn-mc {
  background-position: 0 -1096px;
}

.annis-toolbar-btn .x-btn-mr {
  background-position: -3px -24px;
}


.annis-toolbar-btn .x-btn-bl {
  background-position: 0 -3px;
}

.annis-toolbar-btn .x-btn-bc {
  background-position: 0 -15px;
}

.annis-toolbar-btn .x-btn-br {
  background-position: -3px -3px;
}

.x-selectable, .x-selectable * {
  -moz-user-select: text!important;
  -khtml-user-select: text!important;
}

.corpusbrowser-hover {
  cursor : pointer;	
}
