[Unit]
Description=ANNIS Corpus Visualizer
After=syslog.target

[Service]
Type=forking
Environment=ANNIS_HOME=/opt/org.corpus_tools.annis
ExecStart=/bin/sh /opt/org.corpus_tools.annis/bin/org.corpus_tools.annis-service.sh start
ExecStop=/bin/sh /opt/org.corpus_tools.annis/bin/org.corpus_tools.annis-service.sh stop
StandardOutput=null
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

