/.gitignore~
*.log
*~
/.netbeans/
/annis-service/.settings/
/annis-service/src/main/antlr3/annis/ql/output/
target/
/annis-kickstarter/.settings/
/.settings/
/doc/.settings/
/doc/html/
/doc/latex/
/annis-widgets/src/main/webapp/VAADIN/
rebel.xml
*.project
*.classpath
.settings/
*.jrebel_disabled
/.idea/
*.iml
