/.gitignore~
*.log
*~
/.netbeans/
/annis-service-implementation/.settings/
/annis-service-implementation/src/main/antlr3/annis/ql/output/
target/
/annis-kickstarter/.settings/
/.settings/
/doc/.settings/
