@import "../chameleon/styles.css";

/** 
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

/* Application background */
.v-app {
	background: rgb(249,249,249);
	}

.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu {
	background-color: rgb(249,249,249);
	background-color: rgba(249,249,249,.85);
	}

body.v-ie6 .v-window,
body.v-ie7 .v-window,
body.v-ie6 .v-popupview-popup,
body.v-ie7 .v-popupview-popup,
body.v-ie6 .v-filterselect-suggestpopup,
body.v-ie7 .v-filterselect-suggestpopup,
body.v-ie6 .v-datefield-popup,
body.v-ie7 .v-datefield-popup,
body.v-ie6 .v-contextmenu,
body.v-ie7 .v-contextmenu,
body.v-ie6 .v-menubar-submenu,
body.v-ie7 .v-menubar-submenu,
.v-panel-content,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-content,
.v-tabsheet-tabitem-selected,
.v-slider-base,
.v-window-modalitycurtain,
.v-window-opaque,
.v-progressindicator-wrapper,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-accordion-opaque div.v-accordion-item-open,
.v-table-scrollposition,
.v-table-body {
	background-color: rgb(249,249,249);
	}

/* Base font size and color */
.v-app,
.v-window,
.v-popupview-popup,
.v-app input,
.v-app button,
.v-app textarea,
.v-window input,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-datefield-calendarpanel-header button,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-filterselect-select-button .v-filterselect-input,
.v-drag-element {
	font-size: 12px;
	color: rgb(34,34,34);
	}

.v-app select,
.v-window select,
.v-popupview-popup select,
.v-datefield-popup select {
	font-size: 12px;
	}

.v-label,
.sidebar-menu .v-label,
.v-table-scrollposition {
	@optional-generated-shadow@
	}

/* Base background color */
.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
	background-color: rgb(188,194,202);
	border-color: rgb(120,124,130);
	}

div.v-button-down:active {
	background-color: rgb(150,155,162);
	}
	
.v-button:focus {
	background-color: rgb(188,194,202);
	}

/* Base border color */
.v-button:active .v-button-wrap,
.v-ie .v-button.v-pressed .v-button-wrap,
.v-button-down .v-button-wrap,
.v-datefield-calendarpanel-header td,
.v-slider-base,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerNext-disabled,
.v-tabsheet-scrollerNext-disabled:active,
.v-table-header-wrap,
.v-table-body,
.v-table-resizer,
div.v-table-focus-slot-left,
div.v-table-focus-slot-right,
input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-color: rgb(150,155,162);
	}


input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-bottom-color: rgb(188,194,202);
	border-left-color: rgb(188,194,202);
	border-right-color: rgb(188,194,202);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-button,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-datefield-calendarpanel-weekdays strong,
.v-slider-handle,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-accordion-opaque,
.v-accordion-opaque .v-accordion-item-open,
.v-accordion-opaque .v-accordion-item-caption,
.v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	background-color: rgb(235,243,253);
	border-color: rgb(150,155,162);
	}

.v-button .v-button-wrap,
.v-disabled.v-button:focus .v-button-wrap,
.v-disabled.v-button:active .v-button-wrap,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-window-wrap,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-menubar-submenu,
.v-panel-bubble .v-panel-caption-bubble,
.v-slider-handle,
.v-tabsheet-tabitem-selected .v-caption,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-progressindicator-indicator,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	
	}

.v-datefield-calendarpanel-weekdays strong,
.v-splitpanel-hsplitter-small,
.v-splitpanel-vsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.v-splitpanel-vsplitter-small-locked {
	background-color: rgb(188,194,202);
	}

.v-progressindicator-wrapper {
	border-color: rgb(188,194,202);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-tabsheet-tabitem-selected .v-caption,
.v-window-header,
.v-table-caption-container,
.v-accordion-item-caption,
.v-menubar .v-menubar-menuitem,
.v-filterselect-select-button .v-filterselect-input {
	text-shadow: 0 1px 0 rgb(248,251,254);
	}

/* Background border color */
.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-panel-caption,
.v-panel-nocaption,
.v-panel-content,
.v-panel-deco,
.v-panel-light .v-panel-caption-light,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-content-bubble,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-tabitem-selected,
.v-tabsheet-tabitem,
.v-tabsheet-spacertd div,
.v-tabsheet-content,
.v-tabsheet-deco,
.v-slider,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-table-scrollposition,
.v-accordion,
.v-accordion-item-caption,
.v-accordion-item-open,
.v-menubar-separator span {
	border-color: rgb(199,199,199);
	}

/* Alternate colors */
.v-label-color,
.v-button-link,
.v-button-link:focus,
.v-button-link:active,
.v-disabled.v-button-link,
.v-disabled.v-button-link:focus,
.v-app a,
.v-popupview-popup a,
.v-popupview,
.sidebar-menu .v-label {
	color: rgb(32,38,227);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down {
	border-color: rgb(44,48,146);
	}

.v-button-default:focus,
.v-horizontallayout-segment-alternate .v-button-down:active {
	background-color: rgb(41,46,182);
	}

.v-button-default:active .v-button-wrap,
.v-ie7 .v-button-default.v-pressed .v-button-wrap,
.v-ie8 .v-button-default.v-pressed .v-button-wrap,
.v-progressindicator-indicator,
.v-datefield-calendarpanel-day:hover,
.v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
	border-color: rgb(41,46,182);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.v-panel-bubble .v-panel-caption,
.v-datefield-calendarpanel-day-selected,
.v-table tr.v-selected,
.v-contextmenu .gwt-MenuItem-selected,
.v-contextmenu .gwt-MenuItem-selected div,
.v-filterselect-suggestpopup .gwt-MenuItem-selected,
.v-progressindicator-indicator,
.v-tree-node-selected span,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down,
.v-menubar .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem-selected {
	background-color: rgb(32,38,227);
	color: rgb(250,250,251);
	text-shadow: 0 -1px 0 rgb(44,48,146);
	}

.v-ie6 .v-progressindicator-indicator {
	background-color: rgb(32,38,227);
	}

.v-panel-caption,
.v-table-striped .v-table-row-odd,
.sidebar-menu {
	background: rgb(226,227,245);
	}

.sidebar-menu .tab-selected,
.sidebar-menu .selected {
	text-shadow: 0 1px 0 rgb(44,48,146);
	}@import "../chameleon/styles.css";

/** 
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

/* Application background */
.v-app {
	background: rgb(255,255,255);
	}

.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,.85);
	}

body.v-ie6 .v-window,
body.v-ie7 .v-window,
body.v-ie6 .v-popupview-popup,
body.v-ie7 .v-popupview-popup,
body.v-ie6 .v-filterselect-suggestpopup,
body.v-ie7 .v-filterselect-suggestpopup,
body.v-ie6 .v-datefield-popup,
body.v-ie7 .v-datefield-popup,
body.v-ie6 .v-contextmenu,
body.v-ie7 .v-contextmenu,
body.v-ie6 .v-menubar-submenu,
body.v-ie7 .v-menubar-submenu,
.v-panel-content,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-content,
.v-tabsheet-tabitem-selected,
.v-slider-base,
.v-window-modalitycurtain,
.v-window-opaque,
.v-progressindicator-wrapper,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-accordion-opaque div.v-accordion-item-open,
.v-table-scrollposition,
.v-table-body {
	background-color: rgb(255,255,255);
	}

/* Base font size and color */
.v-app,
.v-window,
.v-popupview-popup,
.v-app input,
.v-app button,
.v-app textarea,
.v-window input,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-datefield-calendarpanel-header button,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-filterselect-select-button .v-filterselect-input,
.v-drag-element {
	font-size: 12px;
	color: rgb(34,34,34);
	}

.v-app select,
.v-window select,
.v-popupview-popup select,
.v-datefield-popup select {
	font-size: 12px;
	}

.v-label,
.sidebar-menu .v-label,
.v-table-scrollposition {
	@optional-generated-shadow@
	}

/* Base background color */
.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
	background-color: rgb(163,173,185);
	border-color: rgb(104,110,118);
	}

div.v-button-down:active {
	background-color: rgb(130,138,148);
	}
	
.v-button:focus {
	background-color: rgb(163,173,185);
	}

/* Base border color */
.v-button:active .v-button-wrap,
.v-ie .v-button.v-pressed .v-button-wrap,
.v-button-down .v-button-wrap,
.v-datefield-calendarpanel-header td,
.v-slider-base,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerNext-disabled,
.v-tabsheet-scrollerNext-disabled:active,
.v-table-header-wrap,
.v-table-body,
.v-table-resizer,
div.v-table-focus-slot-left,
div.v-table-focus-slot-right,
input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-color: rgb(130,138,148);
	}


input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-bottom-color: rgb(163,173,185);
	border-left-color: rgb(163,173,185);
	border-right-color: rgb(163,173,185);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-button,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-datefield-calendarpanel-weekdays strong,
.v-slider-handle,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-accordion-opaque,
.v-accordion-opaque .v-accordion-item-open,
.v-accordion-opaque .v-accordion-item-caption,
.v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	background-color: rgb(204,216,231);
	border-color: rgb(130,138,148);
	}

.v-button .v-button-wrap,
.v-disabled.v-button:focus .v-button-wrap,
.v-disabled.v-button:active .v-button-wrap,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-window-wrap,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-menubar-submenu,
.v-panel-bubble .v-panel-caption-bubble,
.v-slider-handle,
.v-tabsheet-tabitem-selected .v-caption,
.v-table-header-wrap,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-progressindicator-indicator,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	
	}

.v-datefield-calendarpanel-weekdays strong,
.v-splitpanel-hsplitter-small,
.v-splitpanel-vsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.v-splitpanel-vsplitter-small-locked {
	background-color: rgb(163,173,185);
	}

.v-progressindicator-wrapper {
	border-color: rgb(163,173,185);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-tabsheet-tabitem-selected .v-caption,
.v-window-header,
.v-table-caption-container,
.v-accordion-item-caption,
.v-menubar .v-menubar-menuitem,
.v-filterselect-select-button .v-filterselect-input {
	text-shadow: 0 1px 0 rgb(232,236,241);
	}

/* Background border color */
.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-panel-caption,
.v-panel-nocaption,
.v-panel-content,
.v-panel-deco,
.v-panel-light .v-panel-caption-light,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-content-bubble,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-tabitem-selected,
.v-tabsheet-tabitem,
.v-tabsheet-spacertd div,
.v-tabsheet-content,
.v-tabsheet-deco,
.v-slider,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-table-scrollposition,
.v-accordion,
.v-accordion-item-caption,
.v-accordion-item-open,
.v-menubar-separator span {
	border-color: rgb(204,204,204);
	}

/* Alternate colors */
.v-label-color,
.v-button-link,
.v-button-link:focus,
.v-button-link:active,
.v-disabled.v-button-link,
.v-disabled.v-button-link:focus,
.v-app a,
.v-popupview-popup a,
.v-popupview,
.sidebar-menu .v-label {
	color: rgb(49,55,245);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down {
	border-color: rgb(55,58,157);
	}

.v-button-default:focus,
.v-horizontallayout-segment-alternate .v-button-down:active {
	background-color: rgb(55,59,196);
	}

.v-button-default:active .v-button-wrap,
.v-ie7 .v-button-default.v-pressed .v-button-wrap,
.v-ie8 .v-button-default.v-pressed .v-button-wrap,
.v-progressindicator-indicator,
.v-datefield-calendarpanel-day:hover,
.v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
	border-color: rgb(55,59,196);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.v-panel-bubble .v-panel-caption,
.v-datefield-calendarpanel-day-selected,
.v-table tr.v-selected,
.v-contextmenu .gwt-MenuItem-selected,
.v-contextmenu .gwt-MenuItem-selected div,
.v-filterselect-suggestpopup .gwt-MenuItem-selected,
.v-progressindicator-indicator,
.v-tree-node-selected span,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down,
.v-menubar .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem-selected {
	background-color: rgb(49,55,245);
	color: rgb(252,252,254);
	text-shadow: 0 -1px 0 rgb(55,58,157);
	}

.v-ie6 .v-progressindicator-indicator {
	background-color: rgb(49,55,245);
	}

.v-panel-caption,
.v-table-striped .v-table-row-odd,
.sidebar-menu {
	background: rgb(233,234,251);
	}

.sidebar-menu .tab-selected,
.sidebar-menu .selected {
	text-shadow: 0 1px 0 rgb(55,58,157);
	}
  
/* defined by hand */

.control .v-panel-content {
  background-color: #e9eafb;
}

.v-table-cell-wrapper {
  white-space: normal;
}

.result-view .v-panel-content {
  background-color: white;
}
.result-view .v-table-body {
  background-color: white;
}

.kwic {
  font-size: 11px;
}

.kwic-anno {
  color: grey;
}

/* matched node colors by match index*/
.match_1 {
  color: rgb(255,0,0);
}
.match_2 {
  color: rgb(199,21,133);
}
.match_3 {
  color: rgb(50, 205, 50);
}
.match_4 {
  color: rgb(205,133,63);
}
.match_5 {
  color: rgb(205,92,92);
}
.match_6 {
  color: rgb(173,255,47);
}
.match_7 {
  color: rgb(139,0,0);
}
.match_8 {
  color: rgb(255,69,0);
}
