body {
        font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-style:normal;
}


.highlightedToken {
  background-color:yellow;
}

table {
  border-style: none;
  border-width: 0px;
}

.text {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
}

.text tr {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.text td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.token tr {
  padding: 0px;
  margin: 0px;
}

.token td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.linecontainer {
  width: 100%;
  border-collapse: collapse;
}

td.line {
  width: 100%;
  height: 3px;
}

td.blank {
  height: 5px;
}

td.space {
  height: 2px;
}

table.token {
  float:left; 
  font-size:11px; 
  border-collapse: collapse;
}