body {
        font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-style:normal;
}


.highlightedToken {
  background-color:yellow;
}

.text {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
}

.text tr {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.text td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.token tr {
  padding: 0px;
  margin: 0px;
}

.token td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}