body {
    font-size: 16px;
    font-style:normal;
}

.ui-tooltip  {
  background-color: white;
}

.highlightedToken {
  background-color:yellow;
}

table {
  border-style: none;
  border-width: 0px;
  font-size: 100%;
}

.text {
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
}

.text tr {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.text td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.token tr {
  padding: 0px;
  margin: 0px;
}

.token td {
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}

.line {
  height: 7px;
  overflow: hidden;
}

.linecontainer {
  width: 100%;
  border-collapse: collapse;
}

td.clickableline {
  width: 100%;
  height: 3px;
}

td.space {
  height: 2px;
}

table.token {
  float:left;
  font-size: 87.5%;
  border-collapse: collapse;
}