/*
    Document   : fqb
    Created on : 19.06.2013, 19:23:10
    Author     : tom
    Description:
        layouts the flat query builder
*/

.v-slot-linguistics-panel{
  padding: 10px;
}

.v-caption-linguistics-panel .v-captiontext{
  font-size: 110%;
  font-weight: bold;
}

.v-slot-span-panel{
  background: #ecf0f6;
  padding: 10px;
}

.v-caption-span-panel .v-captiontext{
  font-size: 110%;
  font-weight: bold;
}

.v-slot-meta-panel{
  padding: 10px;
}

.v-caption-meta-panel .v-captiontext{
  font-size: 110%;
  font-weight: bold;
}

.v-slot-toolbar-panel{
  background: #ecf0f6;
  padding: 10px;
}

.v-caption-toolbar-panel .v-captiontext{
  font-size: 110%;
  font-weight: bold;
}

.v-slot-advanced-panel{
  padding: 10px;
}

.v-caption-advanced-panel .v-captiontext{
  font-size: 110%;
  font-weight: bold;
}