/*
    Document   : pdf
    Created on : 26.04.2013, 19:23:10
    Author     : Benjamin Weißenfels <b.pixeldrama@gmail.com>
    Description:
        layouts the pdf visualizer
*/

.pdf-panel, .pdf-wrapper {
  background: #ECF0F6;
}

.pdf-panel {
  display: block !important;
  margin: 0px auto;
  padding: 15px 0;
}

.pdf-panel canvas {
  display: block ;
  margin: 15px auto;
  padding: 2px;
  border: 1px dotted grey;
}

