@import "../chameleon/chameleon.scss";
@import "annis-base.scss";
@import "partitur.scss";
@import "pdf.scss";
@import "raw_text.scss";
@import "fqb.scss";

$font-size: 10pt;


@mixin match-color($nr, $color) {
  .v-table-cell-content-match_#{$nr}  {
    color: $color;
  }
  .kwic td.v-table-cell-content-match_#{$nr}  {
    color: $color;
  }
}

@mixin annis {
  @include chameleon;
  @include annis-base;
  @include partitur;

  .hidden {
    display: none;
  }
  
  .control {
    background-color: #ecf0f6;
  }

  .v-table-cell-wrapper {
    white-space: normal;
  }

  .result-view .v-panel-content {
    background-color: white;
  }
  .result-view .v-table-body {
    background-color: white;
  }

  .result-view .v-table-cell-content {
    padding: 0px;
  }

  .result-view .v-panel-content-result-view {
    overflow-y: scroll;
  }

  .result-view-css {
    width: 100%;
  }
  
  .result-view-no-content {
    text-align: center;
  }

  .single-result .v-table-cell-content {
    padding: 0px 6px;
  }

  .v-table-cell-content-kwic-anno {
    color: grey;
  }
  
  .kwic {
    td {
      color: grey;
      padding: 0px 6px;
    }
    td.token {
      color: black;
    }
    .speaker div {
      /* we need enough space for the speaker logo */
      min-width: 32px;
      min-height: 32px;
    }
    .partitur_table td.single_event {
      background-color: white;
      border-style:none;
    }
    
  }

  .v-table-cell-content-kwic-clickable {
    color: grey;
  }

  .pointer, 
  .v-table-cell-content-kwic-media,
  .menu-hover .v-menubar-menuitem {
    cursor: pointer !important;
  }

  .v-table-cell-content-kwic-media {
    background: url(images/speaker.png) no-repeat left;
    width: 32px;
    height: 32px;
  }

  .drag-source-enabled {
    cursor: move;
  }

  .toolbar .v-panel-content {
    background-color: #ecf0f6;
  }


  .toolbar {
    background-color: #ecf0f6;
  }

  .right-aligned-text {
    text-align: right;
  }

  .rtl {
    direction: rtl;
  }

  .v-label-opensource {
    font-size: 14pt !important;
  }
  
  .vis-content {
    width: 100%;
  }


  .docPath {
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    margin: 0 0 4px;
    padding: 2px 3px;
    background-color: #ecf0f6;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
  }

  textarea.citation {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: monospace;
  }

  textarea.license {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: monospace;
  }

  textarea.query {
    font-family: monospace;
  }

  .tigerquery-builder-canvas {
    z-index: 0;
  }
  .tigerquery-builder-overlay {
    z-index: 10;
  }

  .contextsensible-formlayout .v-filterselect {
    float:left;
  }

  textarea.border-layout {
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
  }
  
  .border-layout {
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
  }
  
  .solid-white-background {
    background-color: rgb(255,255,255);
  }

  .v-window-outerheader {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(204, 216, 231);
    background-image: url(../chameleon/img/grad-light-top.png);
    background-origin: padding-box;
    background-size: auto;
  } 
  
  /* Always synchronize with the MatchedNodeColors class! */
  @include match-color(1, rgb(255,0,0)); // Red
  @include match-color(2, rgb(199,21,133)); // MediumVioletRed
  @include match-color(3, rgb(50, 205, 50)); // LimeGreen
  @include match-color(4, rgb(205,133,63)); // Peru
  @include match-color(5, rgb(135, 206, 235)); // SkyBlue
  @include match-color(6, rgb(205,92,92)); // IndianRed
  @include match-color(7, rgb(173,255,47)); // YellowGreen
  @include match-color(8, rgb(139,0,0)); // DarkRed
  @include match-color(9, rgb(255,69,0)); // OrangeRed
  @include match-color(10, rgb(255,215,0)); // Gold
  @include match-color(11, rgb(210, 180, 140)); // Tan
  @include match-color(12, rgb(0, 0, 128)); // Navy
  @include match-color(13, rgb(0, 250, 154)); // MediumSpringGreen
  @include match-color(14, rgb(30, 144, 255)); // DodgerBlue
  @include match-color(15, rgb(107, 142,  35)); // OliveDrab
  @include match-color(16, rgb(255, 182, 193)); // LightPink


  .v-form-errormessage {
    color: red;
    font-weight: bold;
  }

  .left-button, .right-button {
    background-position: center;
    background-repeat: repeat-y;
  }

  .left-button {
    background-image: url(images/left_rst_arrow.png);
    background-repeat: repeat-y;
  }

  .right-button {
    background-image: url(images/right_rst_arrow.png);
    background-repeat: repeat-y;
  }

  .right-button .v-button-wrap {
    background: none;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 100%;
    padding: 4px 13px;
    text-overflow: ellipsis;
  }
  
  .exception-message-caption {
    font-size: 18pt;
  }
  .exception-message-content {
    font-size: 15pt;
    background-color: #ffcccc;
    border-style: dashed;
    border-width: 1px;
  }
  
  .help-tab {
    .v-accordion-item-caption {
      background-color: #ecffe7;
    }
    .v-captiontext {
      text-decoration: underline;
      color: #3137F5;
    }
    .v-accordion-item-open .v-captiontext {
      text-decoration: none;
      color: black;
    }
  } 

  /* Chamaeleon theme tab appeareance is sub-optimal */
  .blue-tab .v-tabsheet-tabitem {
    border: 1px solid rgb(204,204,204);
    border-bottom: none;
  }
  
  .v-tabsheet-tabcontainer-blue-tab {
    background-color: #ecf0f6;
  }
  
  .grey-selection tr.v-selected {
    background-color: #808080;
  } 

}