body .v-app-loading {
	background-image: url(annisloading.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	width: 100%;
	height: 100%;
}

.hidden {
  display: none;
}
.control .v-panel-content {
  background-color: #ecf0f6;
}

.control .v-layout {
  background-color: #ecf0f6;
}

.v-table-cell-wrapper {
  white-space: normal;
}

.result-view .v-panel-content {
  background-color: white;
}
.result-view .v-table-body {
  background-color: white;
}

.result-view .v-table-cell-content {
  padding: 0px;
}

.result-view .v-panel-content-result-view {
  overflow-y: scroll;
}

.result-view-css {
  width: 100%;
}

.single-result .v-table-cell-content {
  padding: 0px 6px;
}

.kwic {
  font-size: 11px;
}

.v-table-cell-content-kwic-anno {
  color: grey;
}

.v-table-cell-content-kwic-clickable {
  color: grey;
}

.pointer, .v-table-cell-content-kwic-media {
  cursor: pointer;
}

.v-table-cell-content-kwic-media {
  background: url(speaker.png) no-repeat left;
  width: 32px;
  height: 32px;
}

.drag-source-enabled {
  cursor: move;
}

.toolbar .v-panel-content {
  background-color: #ecf0f6;
}


.toolbar {
  background-color: #ecf0f6;
}

.right-aligned-text {
  text-align: right;
}

.rtl {
  direction: rtl;
}

.v-label-opensource {
    font-size: 14pt !important;
}


.docPath {
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  margin: 0 0 4px;
  padding: 2px 3px;
  background-color: #ecf0f6;
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 0px 0px;
}

textarea.citation {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: monospace;
}

textarea.license {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: monospace;
}

textarea.query {
  font-family: monospace;
}

.tigerquery-builder-canvas {
  z-index: 0;
}
.tigerquery-builder-overlay {
  z-index: 10;
}

.contextsensible-formlayout .v-filterselect {
  float:left;
}

.border-layout {
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;  
}

/* matched node colors by match index*/
.v-table-cell-content-match_1 {
  color: rgb(255,0,0);
}
.v-table-cell-content-match_2 {
  color: rgb(199,21,133);
}
.v-table-cell-content-match_3 {
  color: rgb(50, 205, 50);
}
.v-table-cell-content-match_4 {
  color: rgb(205,133,63);
}
.v-table-cell-content-match_5 {
  color: rgb(205,92,92);
}
.v-table-cell-content-match_6 {
  color: rgb(173,255,47);
}
.v-table-cell-content-match_7 {
  color: rgb(139,0,0);
}
.v-table-cell-content-match_8 {
  color: rgb(255,69,0);
}

.v-form-errormessage {
  color: red;
  font-weight: bold;
}

.v-button-helpbutton {
	padding-left: 0.5em;
}
