@mixin partitur {

  .partitur_table {
    margin:0px;
    border-collapse:collapse;
    font-family:arial,tahoma,helvetica,sans-serif;
    font-style:normal;

    .tok {
      text-align:center;
    }

    .highlight-target {
      background-color:#faf755;
    }

    td.header {

      margin:0px;
      padding:2px;
      font-weight:bold;
      border-style:dotted;
      border-color:rgb(200,200,200);
      border-width:1px;
    }

    td.gap {
      background-image: url("images/hatching.png");
      background-repeat: repeat;
      border-style: solid;
      border-color: black;
    }

    td.space {
      background-image: url("images/space.png");
      background-repeat: repeat-y;
      border-style: none;
      background-position: center;
    }

    td {
      margin:0px;
      background-color:rgb(255,255,255);
      border-style:dotted;
      border-color:rgb(200,200,200);
      border-width:1px;
      padding:0px 10px 0px 10px;
      @include user-select(text);
    }

    .header {
      /* always use the default fonts for the header */
      font-family: arial, tahoma, helvetica, sans-serif;
    }

    td.single_event {
      background-color:rgb(230,230,230);
      border-color:rgb(0,0,0);
      border-style:solid;
      border-width:1px;
    }

    td.highlight-source {
      background-color:rgb(200,200,200);
    }
    
    tr.invisible_token  {
      visibility: collapse;
    }

    tr.invisible_token td  {
      min-width: 10px;
    }

  }


  .checkedItem:before {
    content: url('check.gif');
  }

  .uncheckedItem:before {
    content: url('empty.gif');
  }

  #tooltip {
    font-size: 9pt;
  }

  #tooltip h3 {
    font-size: 9pt;
  }

  td.speaker, td.pdf {
    padding: 0px 20px 0px 10px;
  }
  
  .empty_token_hint {
    font-style: italic;
  }

  .kwic {

    td {
      @include user-select(text);
    }

    .speaker, .pdf {
      padding: 0px;
    }

    .speaker:before, .pdf:before {
      position:relative;
      top:0px;
      left: 10px;
    }
  } // end kwic

  .speaker:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;

    margin-right: 5px;
    
    color: #96B2D3;
    top:0px;
    content: "\f028";
  }
  
  .pdf:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;

    margin-right: 5px;
    
    color: red;
    top:0px;
    content: "\f1c1";
  }

  .speaker, .speaker div, .pdf,  .pdf div {
    cursor: pointer;
  }

}