@import "annis.scss";

body .v-app-loading {
  background-image: url(annisloading.gif);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
}


.annis {
 @include annis;
}

