@import "annis.scss";

.v-app {
  width: 100%;
  height: 100%;
}

.annis {
  @include annis;
}

body .annis.v-app .v-app-loading {
  background-image: url(images/annisloading.gif);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
}


