	body {
		margin: 20px;
		padding: 0px;
		background-color:#F0F0F0;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		 }
		 
	.code { font-family:monospace;}
	.comment {color:#999999;}

	pre {text-indent: 30px}



	#tabmenu {
		color: #000000;
		border-bottom: 2px solid black;
		margin: 12px 0px 0px 0px;
		padding: 0px;
		z-index: 1;
		padding-left: 10px }

	#tabmenu li {
		display: inline;
		overflow: hidden;
		list-style-type: none; }

	#tabmenu a, a.active {
		color: #E8E9BE;
		background-color:#0000CC;
		font: bold 1em Verdana, sans-serif;
		border: 2px solid black;
		padding: 2px 5px 0px 5px;
		margin: 0;
		text-decoration: none; }


	#tabmenu a:hover {
		color: #fff;
		background: #ADC09F; }

	#tabmenu a:visited {
		color: #E8E9BE; }
		
	#tabmenu a.active {
		color:#000000;
		background: #D7ECEE;
		border-bottom: 3px solid #D7ECEE; }


	#tabmenu a.active:hover {
		background: #D7ECEE;
		color: #000000; }
		
	#tabmenu a.active:visited {
		background: #D7ECEE;
		color: #000000; }

	#content {font: verdana, sans-serif;
		text-align: justify;
		background: #D7ECEE;
		padding: 20px;
		border: 2px solid black;
		border-top: none;
		z-index: 2;	}

	#content a {
		color: #000099; }

	#content a:hover { color: #0033FF; }

	#tutorialmenu {
		color: #000000;
		border-right: 0px solid black;
		margin: 4px -2px 0px 12px;
		padding: 0px;
		z-index: 1;
		padding-bottom: 10px }

	#tutorialmenu img {
	border:0;}
	
	#tutorialmenu li {
		display: inline;
		overflow: hidden;
		list-style-type: none; }

	#tutorialmenu a, a.active {
		color: #E8E9BE;
		background-color:#0000CC;
		font: bold 1em Verdana, sans-serif;
		border: 2px solid black;
		padding: 2px 0px 2px 5px;
		margin: 0;
		text-decoration: none; }


	#tutorialmenu a:hover {
		color: #fff;
		background: #ADC09F; }

	#tutorialmenu a:visited {
		color: #E8E9BE;
		border-top: 2px solid black; }
		
	#tutorialmenu a.active {
		color:#000000;
		background: #D7ECEE;
		border-bottom: 2px solid;
		border-right:none;
		border-top: 2px solid black; }


	#tutorialmenu a.active:hover {
		background: #D7ECEE;
		color: #000000; }
		
	#tutorialmenu a.active:visited {
		background: #D7ECEE;
		color: #000000; }
		
		
	#tutorialcontent {font: verdana, sans-serif;
		text-align: justify;
		background: #D7ECEE;
		padding: 20px;
		border: 2px solid black;
		z-index: 3;	}

	#tutorialcontent a {
		color: #000099; }

	#tutorialcontent a:hover { color: #0033FF; }




