<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="relANNIS"
            class="relANNIS.RelANNISPackage"
            genModel="model/relANNIS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="www.corpling.salt.model.salt"
            class="salt.SaltPackage"
            genModel="model/relANNIS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="www.corpling.de/salt/saltCore"
            class="saltCore.SaltCorePackage"
            genModel="model/relANNIS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="www.corpling.de/util/graph"
            class="graph.GraphPackage"
            genModel="model/relANNIS.genmodel"/>
   </extension>

</plugin>
