title              b                            value        #prints the title in bold
chapter            p                                         #surrounds each chapter with a p
chapter            i                            "Kapitel: "  #prints the text "Kapitel: " in italics at start of chapter
chapter            i                            value        #prints the value of the chapter annotation in italics
pb                 span; style="color: grey"    "page "      #prints a grey span with the text "page "
pb_n               span; style="color: grey"    value        #prints a grey span with the value of pb_n
pb                 table                                     #surrounds each pb annotation area with a table element
pb                 tr                                        #surrounds each pb annotation area with a tr element, within the table element declared above
column             td                                        #surrounds each column annotation area a td element
column             span; style="colStyle"                    #applies 'colStyle' to anything inside a column annotation
lb                 p                                         #surrounds each lb annotation area with a p element
lb_rend="italics"  i                                         #applies italic rendering to anything within an annotation lb_rend="italics"
="Gott"            span; style="color: red"     value        #prints and highlights in red the value of any annotation with the value "Gott"
speaker            span; style="color: grey"    anno         #prints the annotation name whenever an annotation 'speaker' occurs
tok                span; style="tokStyle"                    #prints each token
test               p:title; style="tokStyle" value                   # outputs title attribute
pb_n               span    escaped_value        #prints a grey span with the value of pb_n (escaped)