table.grid-tree,.grid-tree td,.grid-tree th {
	border-collapse: collapse;
	border: 1px dotted black;
	white-space: nowrap;
	border: 1px dotted black;
}

td.gridtree-result {
	border: 1px solid black;
	background: #AFAFAF;
}

td.hover {
	cursor: pointer;
}