<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Annis corpus Search gui</display-name>
  <session-config>
    <session-timeout>4</session-timeout>
  </session-config>
  <context-param>
    <param-name>heartbeatInterval</param-name>
    <!-- 30 seconds -->
    <param-value>30</param-value>
  </context-param>
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <context-param>
    <description>Kickstarter Environment mode</description>
    <param-name>kickstarterEnvironment</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>VaadinUI</servlet-name>
    <servlet-class>annis.gui.servlets.AnnisServlet</servlet-class>
    <init-param>
      <param-name>UIProvider</param-name>
      <param-value>annis.gui.AnnisUIProvider</param-value>
    </init-param>
    <init-param>
      <description>
        Application widgetset
      </description>
      <param-name>widgetset</param-name>        	
      <param-value>annis.gui.widgets.gwt.AnnisWidgetSet</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
 
  <servlet>
    <servlet-name>CitationRedirectionServlet</servlet-name>
    <servlet-class>annis.gui.servlets.CitationRedirectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>annis.gui.servlets.ResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>VaadinUI</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CitationRedirectionServlet</servlet-name>
    <url-pattern>/Cite/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/Resource/*</url-pattern>
  </servlet-mapping>
</web-app>
