<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Annis corpus Search gui</display-name>
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>annis.gui.SearchUI</param-value>
    </init-param>
    <init-param>
      <description>
        Application widgetset
      </description>
      <param-name>widgetset</param-name>        	
      <param-value>annis.gui.widgets.gwt.AnnisWidgetSet</param-value>
    </init-param>
   
  </servlet>
  <servlet>
    <servlet-name>CitationRedirectionServlet</servlet-name>
    <servlet-class>annis.gui.servlets.CitationRedirectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>annis.gui.servlets.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BinaryServlet</servlet-name>
    <servlet-class>annis.gui.servlets.BinaryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CitationRedirectionServlet</servlet-name>
    <url-pattern>/Cite/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/Resource/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BinaryServlet</servlet-name>
    <url-pattern>/Binary/*</url-pattern>
  </servlet-mapping>
    
</web-app>
