#panelQueryBuilder * DIV {
	height: 100%;
	width: 100%;
}

.windowSearchResult.token.prematch {
	float: right;	
	margin-left: 5px;
	white-space: nowrap;
}

.windowSearchResult.token.match {
	float: left;
	margin-right: 5px;
	white-space: nowrap;
}

.windowSearchResult.token.postmatch {
	float: left;
	margin-right: 5px;
	white-space: nowrap;
}

.windowSearchResult.token.hit {
	color: red;	
}

.windowSearchResult.annotation {
	color: grey;
	text-align: center;	
}

.windowSearchResult.text {
	text-align: center;	
}

//.windowSearchResult.token.marker1 { 
//	color: red;
//	font-weight: bold;
//}
//.windowSearchResult.token.marker2 { 
//	color: green;
//	font-weight: bold;
//}
//.windowSearchResult.token.marker3 { 
//	color: blue;
//	font-weight: bold;
//}
			
body {
	text.align: center;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center 100px;
}
#toolbar {
	margin-bottom: 26px;
}

ul.annis-row-body {
	list-style-type: none;
}

ul.annis-row-body li {
	margin: 0px;
	padding: 0px;
}

div.annis-level-selector-collapsed, div.annis-level-selector-expanded {
	cursor: pointer;
	padding-left: 15px;
	background-repeat: no-repeat;
}

div.annis-level-selector-collapsed {
	background-image: url(../images/icon-expand.gif);
}

div.annis-level-selector-expanded {
	background-image: url(../images/icon-collapse.gif);
}


div.annis-level-body {
	display: none;
}